@model IEnumerable<ProductDto>

<form>
    <div class="container-fluid row g-0">
        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3 px-2">
                <div class="p-0 my-2 border">
                    <div class="card">
                        <img src="@product.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                                    <h4 class="card-title text-success" style="font-size:1.2em">@product.Name</h4>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                    <span class="badge bg-light text-dark mb-2 align-self-center border">@product.CategoryName</span>
                                </div>
                            </div>
                            <p class="card-text" style="height:6em;text-overflow:ellipsis;overflow:hidden">@Html.Raw(product.Description)</p>
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-1 d-flex justify-content-center">
                                    <span style="font-size:1.2em;">@product.Price.ToString("c")</span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    <a asp-action="Details" asp-route-productId="@product.ProductId" class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
